* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
}
