@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: "Press Start 2P", sans-serif;
  background-color: #222;
  color: #eee;
}

nav {
  margin: 0% 10%;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restart,
.check {
  font-family: "Press Start 2P", sans-serif;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
}

.title {
  margin-top: 2rem;
  text-align: center;
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  margin: auto;
  padding: 1.6rem 0rem;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translate(0%, 50%);
}

hr {
  height: 1rem;
  background-color: #eee;
}

.container {
  display: flex;
  align-items: center;
}
.div1 {
  padding-top: 7rem;
  width: 50vw;
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.div2 {
  line-height: 3rem;
  display: block;
  text-align: center;
}

.div2 > .message {
  margin: 2rem 0rem;
}

input#int {
  background: #222;
  color: #eee;

  margin-bottom: 2rem;
  border: 0.35rem solid #eee;
  font-size: 5rem;
  padding: 1rem;
  width: 25rem;
}
#int:focus {
  outline: none;
}

/* media queries  */

@media only screen and (max-width: 940px) {
  html,
  body {
    font-size: 92.5%;
  }
}

@media only screen and (max-width: 860px) {
  html,
  body {
    font-size: 82.5%;
  }
}

@media only screen and (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
  }
  .container,
  nav {
    line-height: 3rem;
    flex-direction: column;
  }
}
