* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 4rem;
}
h1 {
  text-decoration: underline;
}

label {
  font-size: 2rem;
}
